.env
__pycache__/
backend/__pycache__/
backend/migrations/
backend/db.sqlite3
backend/.__pycache__
backend/.mypy_cache/
backend/.pytest_cache/
backend/.coverage/ 
backend/.vscode/
backend/.idea/
backend/models/__pycache__
backend/resource/__pycache__
backend/routes_fol/
backend/tests/__pycache__
backend/utils/__pycache__
backend/validations/__pycache__




backend/app copy 2.py
backend/orders.db

